@page "/listado-media"

@inject HttpClient Http
@using Components;

<PageTitle>Media</PageTitle>

<h1>Listado Media</h1>

<p>Listado de Media Agregada</p>

<TercerParcial.Components.ListadoMedia></TercerParcial.Components.ListadoMedia>