@page "/listado-videojuegos"

@inject HttpClient Http
@using Components;

<PageTitle>Videojuegos</PageTitle>

<h1>Listado Videojuegos</h1>

<p>Listado de Videojuegos Agregados</p>

<TercerParcial.Components.ListadoVideojuegos></TercerParcial.Components.ListadoVideojuegos>